<div class="container">
  <div class="container" id="content" #content>
    <h1>Generate PDF</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto assumenda corporis dolor doloribus eos
      esse, ex iste laudantium maxime modi non numquam officia provident quos similique, ullam velit vitae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto assumenda corporis dolor doloribus eos
      esse, ex iste laudantium maxime modi non numquam officia provident quos similique, ullam velit vitae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto assumenda corporis dolor doloribus eos
      esse, ex iste laudantium maxime modi non numquam officia provident quos similique, ullam velit vitae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto assumenda corporis dolor doloribus eos
      esse, ex iste laudantium maxime modi non numquam officia provident quos similique, ullam velit vitae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto assumenda corporis dolor doloribus eos
      esse, ex iste laudantium maxime modi non numquam officia provident quos similique, ullam velit vitae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto assumenda corporis dolor doloribus eos
      esse, ex iste laudantium maxime modi non numquam officia provident quos similique, ullam velit vitae?</p>
  </div>

  <button type="button" class="btn btn-primary" (click)="downloadPDF()">Export to PDF</button>
</div>
